{% extends 'base.html' %}
{% block content %}

<!--================================
=            Page Title            =
=================================-->
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>About Us</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-img">
					<img src="https://cdn.blueswandaily.com//2018/09/iStock-905433284-2000x1200.jpg" class="img-fluid w-100 rounded" style="height:500px" alt="Our Team">
                </div>
				</div>
				<div class="col-lg-6 pt-5 pt-lg-0">
					<div class="about-content">
						<h3 class="font-weight-bold">Introduction</h3>
						<p>"Live with no excuses, and travel with no regrets" - Oscar Wilde

							We have always been a go-getter with a passion for using any free time We had for traveling
							the world. We have visited over 30 countries so far and as a result, for years We have been
							the go-to travel expert for many of my family members and friends.

							We take pride in the fact that We am able to understand what my clients are looking for in their
							next trip, and that We can provide them with personalized suggestions.

							When there's a will, there's a way. If you've been dreaming of a vacation to paradise, it's
							time to make it a reality. Contact me today!</p>
						<h3 class="font-weight-bold">How we can help</h3>
						<p>Here are a few great reasons for you to use a travel expert:

Whatever your budget, each detail of your trip will be meticulously handled by a travel professional who will offer you multiple customized travel packages at top destinations.
We give you recommendations based on our personal travel experiences and offer you unadvertised specials and access to exclusive travel promotions.
If anything were to go awry during your trip, you have a personal travel advocate standing by ready to help you navigate your way safely to your destination and then back home.</p>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-smile-o d-block"></i>
					<span class="counter my-2 d-block" data-count="2314">0</span>
					<h5>Happy Customers</h5>
				
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-user-o d-block"></i>
					<span class="counter my-2 d-block" data-count="1013">0</span>
					<h5>Active Members</h5>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-bookmark-o d-block"></i>
					<span class="counter my-2 d-block" data-count="2413">0</span>
					<h5>Verified Ads</h5>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-smile-o d-block"></i>
					<span class="counter my-2 d-block" data-count="200">0</span>
					<h5>Happy Customers</h5>
				</div>
			</div>
		</div>
	</div>
</section>

<!--============================
=            Footer            =
=============================-->
{% endblock %}